<app-header></app-header>

<!– Works section –>
      <section id="works" class="section section-works" data-section-theme="dark">
        <div class="container">
          <header class="section-header">
            <h2 class="section-title">APPS</h2>
            <p class="section-tagline">Bienvenidos!</p>
          </header>
          <div class="section-body">
            <ul class="row">
              <li class="col-1-3">
                <article class="card-work">
                  <div class="card-outer">
                    <div class="card-image">
                      <img src="assets/pic-work-01.jpg" width="300px" height="300px"alt="">
                    </div>
                    <div class="card-inner">
                      <h3 class="card-title"><a href="/usuarios">Usuarios</a></h3>
                    </div>
                  </div>
                </article>
              </li>
              <li class="col-1-3">
                <article class="card-work">
                  <div class="card-outer">
                    <div class="card-image">
                      <img src="assets/pic-work-02.jpg" width="300px" height="300px" alt="">
                    </div>
                    <div class="card-inner">
                      <h3 class="card-title"><a href="/albumes">Álbumes</a></h3>
                    </div>
                  </div>
                </article>
              </li>
              <li class="col-1-3">
                <article class="card-work">
                  <div class="card-outer">
                    <div class="card-image">
                      <img src="assets/pic-work-03.jpg" width="300px" height="300px" alt="">
                    </div>
                    <div class="card-inner">
                      <h3 class="card-title"><a href="publicaciones">Publicaciones</a></h3>
                    </div>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>

<app-footer></app-footer>
