<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
        Consumir API
    </span>
    <div class="container row">
        <ul>
            <li>
                <a href="/home">Home</a> 
            </li>
            <li>
                <a href="/usuarios">Usuarios</a>
            </li>
            <li>
                <a href="/albumes">Álbumes</a>
            </li>
            <li>
                <a href="/publicaciones">Publicaciones</a>
            </li>
        </ul>
    </div>
</nav>

